@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos al curso</h1>
    <p>Aprenda a cerca de <a href="https://www.semana.com">diferentes temas</a>.</p>
</div>
